@{
    ViewData["Title"] = "Listado de Productos";
}

<h2>@ViewData["Title"]</h2>

<ul>
    <li>Producto 1 - 10.00€</li>
    <li>Producto 2 - 20.00€</li>
    <li>Producto 3 - 30.00€</li>
    <li>Producto 4 - 40.00€</li>
</ul>

<p>@Html.ActionLink("Volver al inicio", "Index", "Home")</p>
