@{
    ViewData["Title"] = "Inicio";
}

<h1>@ViewBag.Mensaje</h1>
<p>Fecha actual: @ViewBag.Fecha</p>

<hr />

<h2>Datos de la Persona</h2>
<ul>
    <li>ID: @ViewBag.Persona.Id</li>
    <li>Nombre: @ViewBag.Persona.Nombre</li>
</ul>
